.idea/
.DS_Store
.env

# This folder is created by "make extract" and contains the built binaries
temp

# This folder is created by "make artifacts" and contains the artifacts
apim_artifacts
